body{
    background-image: linear-gradient(to right,blue,red);
}

.hh{
    font-size: 50px;
    position: relative;
    top: 210px;
    color: blue;
    
}

.con{
    width: 400px;
    height: 320px;
    background-color: white;
    position: relative;
    top: 200px;
    border-radius: 15px;
    box-shadow: 10px 15px 10px 5px rgba(0,0,0,0.1);
}  

.pp{
    position: relative;
    top: 14px;
    font-size: 20px;
}

.box{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    top: 25px;
    
}

.box1{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    top: 30px;
    
}

.bb{
    width: 350px;
    height: 60px;
    background-color: blue;
    color: white;
    font-size: 25px;
    position: relative;
    top: 40px;
    border: none;
    border-radius: 10px;
}


